<div class="cards">

    <div *ngFor="let device of devices[0]">

        <div class="device">
            <span class="device-img-container">
                <img src={{device.imageUrl}}>
            </span>
            <div class="device-model"> {{device.model | uppercase}}</div>
            <div class="device-brand"> {{device.brand}} </div>
            <div class="device-price"> {{device.price}}.00 BGN </div>
            <div *ngIf="isLoggedAdmin != true" class="device-buttons user">
                <button class="device-buy">Buy</button>
                <button class="device-details">Details</button>
            </div>
            <div *ngIf="isLoggedAdmin" class="device-buttons admin">
                <button class="device-delete" (click)="deleteDevice(device._id)">Delete</button>
                <button class="device-edit" (click)="editDevice(device._id)">Update</button>
            </div>
        </div>

    </div>
</div>