<div class="request-wrapper">
    <!-- new request - hide for admin -->
    <div *ngIf="!isLoggedIn && !isLoggedAdmin">
        <h3>You need a profile to create a request </h3>
        <div class=" card-info">
            <small>No account? <a href="/auth/register">Register here</a>
            </small>
        </div>

    </div>


    <form #requestForm="ngForm" (ngSubmit)="onSubmit()" *ngIf="isLoggedIn">
        <h3> Submit a request to us</h3>
        <div class="input">
            <input class="form-control" id="title" name="title" ngModel />
            <label for="title" class="add-title">Title</label>
        </div>
        <div class="input">
            <input class="form-control" id="city" name="city" ngModel />
            <label for="city" class="add-city">City</label>
        </div>
        <div class="input">
            <input class="form-control" id="adress" name="adress" ngModel />
            <label for="adress" class="add-adress">Adress</label>
        </div>

        <div class="input">
            <input class="form-control" id="issue" name="issue" ngModel />
            <label for="issue" class="add-issue">What's wrong?</label>
        </div>

        <div class="action">
            <button class="action-button">Submit</button>
        </div>
    </form>
    <div *ngIf="isLoggedIn" class="user-requests">
        <h3 *ngIf="userRequests[0].length>0">Your submitted requests:</h3>
        <div class="user-requests-list" *ngFor=" let request of userRequests[0]">
            <div class="user-request">
                <span class="request-img-container">
                    <img src="{{request.photoUrl}}">
                </span>

                <div class="request-title"> Title: {{request.title}} </div>
                <div class="request-city"> City: {{request.city}}</div>
                <div class="request-adress"> Adress: {{request.adress}}</div>
                <div class="request-issue"> Issue: {{request.issue }} </div>
                <button class="request-delete" (click)="deleteRequest(request._id)">Cancel request</button>

            </div>

        </div>
    </div>

    <!-- only for admin - show all requests -->
    <h3 *ngIf="isLoggedAdmin">Admin list - all active requests: </h3>
    <div class="requests" *ngIf="isLoggedAdmin">
        <div *ngFor=" let request of requests[0]">
            <div class="request">
                <span class="request-img-container">
                    <img src="{{request.photoUrl}}">
                </span>

                <div class="request-title"> Title: {{request.title}} </div>
                <div class="request-city"> City: {{request.city}}</div>
                <div class="request-adress"> Adress: {{request.adress}}</div>
                <div class="request-issue"> Issue: {{request.issue }} </div>
                <div class="request-contact-user">
                    <div class="request-user"> User email: {{user.email}}</div>
                    <div class="request-user"> User phone: {{user.phone}}</div>
                </div>
                <div class="request-buttons">
                    <button class="request-contact" (click)="contactUser(request._id)">Contact user</button>
                    <button class="request-delete" (click)="deleteRequest(request._id)">Delete</button>
                </div>
            </div>
        </div>
    </div>