<div class="request-wrapper">
    <!-- new request - hide for admin -->
    <form #requestForm="ngForm" (ngSubmit)="onSubmit()" *ngIf="isLoggedIn">
        <h3> Submit a request to us</h3>
        <div class="input">
            <input class="form-control" id="title" name="title" ngModel />
            <label for="title" class="add-title">Title</label>
        </div>
        <div class="input">
            <input class="form-control" id="city" name="city" ngModel />
            <label for="city" class="add-city">City</label>
        </div>
        <div class="input">
            <input class="form-control" id="adress" name="adress" ngModel />
            <label for="adress" class="add-adress">Adress</label>
        </div>

        <div class="input">
            <input class="form-control" id="issue" name="issue" ngModel />
            <label for="issue" class="add-issue">What's wrong?</label>
        </div>

        <div class="action">
            <button class="action-button">Submit</button>
        </div>
    </form>

    <!-- only for admin - show all requests -->
    <div class="requests" *ngIf="isLoggedAdmin">
        <div *ngFor=" let request of requests">
            <div class="request">
                <span class="request-img-container">
                    <img>
                </span>
                <div class="request-user"> User: {{request.owner}}</div>
                <div class="request-title"> Title: {{request.title}} </div>
                <div class="request-city"> City: {{request.city}}</div>
                <div class="request-adress"> Adress: {{request.adress}}</div>
                <div class="request-issue"> Issue: {{request.issue}}</div>
                <!-- <div class="request-issue"> Lorem ipsum dolor, sit amet consectetur adipisicing elit. A, rem. </div> -->
                <div class="request-buttons">
                    <button class="request-buy">Edit</button>
                    <button class="request-details">Delete</button>
                </div>
            </div>
        </div>
    </div>