form {
  display: block;
  flex-direction: column;
  width: 330px;
  /* display: none; */
  padding-left: 15px;
  margin-left: 485px;

  font-style: italic;
  background-color: rgb(245, 209, 111);
  /* position: sticky;
   right: 0; */
   border-radius: 21px;
  ;
}

.input {

  margin: 20px 0px 0px;
  display: flex;
  flex-direction: column-reverse;
  width: 300px;

}

.request-wrapper {
  margin-left: 50px;
  margin-top: 50px;
  color: rgb(15, 65, 37);
  display: flex;
  flex-direction: column;

  flex-wrap: wrap;
}

.action-button   {
  margin-left: 125px;
  margin-top: 15px;
}

.request-contact-user {
  display: none;
}

.requests, .user-requests {
  margin: 60px;
  display: flex;
  flex-direction: row;
  gap: 30px;
  flex-wrap: wrap;
}

.request {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 250px;
  height: 280px;
  background-color: aquamarine;
  border-radius: 25px;
  word-wrap: break-word;
}

.user-request {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 250px;
  height: 180px;
  background-color: rgb(217, 243, 234);
  border-radius: 25px;
  word-wrap: break-word;
}

.user-requests h3{
  display: inline-block;
  word-wrap: break-word;
width: 15%;
}

.request div, .user-request div {
  padding-left: 12px;
  font-size: 16px;
  font-weight: 500;
  /* margin-left: 8px; */
}

.request-buttons {

  display: flex;
  margin-left: 25px;
  gap: 25px;
  margin-top: 25px;
  margin-bottom: 1px;
}

.request-buttons button, .request-delete {
  border-radius: 15px;
  background-color:azure;
}

.request-issue {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.request-contact-user {
  margin-top: 10px;
}

.user-req-title{
  margin-left:520px;
  margin-top: 20px;
}