<div class='profile-no' *ngIf="!isLoggedIn">

    <h3 class="profile-heading profile-field">You need a profile to see your profile, bro</h3>
    <ul class="profile-buttons">
        <li class="profile-button">
            <i class="fa-solid fa-arrow-right-to-bracket"></i>
            <a class="profile-item-link" routerLink="/auth/login" routerLinkActive="active">
                Login</a>
        </li>
        <li class="profile-button">
            <i class="fa-solid fa-address-card"></i>
            <a class="profile-item-link" routerLink="/auth/register" routerLinkActive="active">
                Register</a>
        </li>
    </ul>
</div>
<div *ngIf="isLoggedIn" class="profile-data">

    <h2 class="profile-username profile-field">Username: {{user.username}}</h2>
    <h2 class="profile-email profile-field">Email: {{user.email}}</h2>
    <h2 class="profile-phone profile-field">Phone: {{user.phone}}</h2>
    <!-- <h2 class="profile-requests ">Your requests: </h2> -->

    <ul class="profile-buttons">
        <li class="profile-button">
            <i class="fa-solid fa-arrow-right-to-bracket"></i>
            <a class="profile-item-link" href='/auth/profile' (click)='edit()' routerLinkActive="active">
                Edit </a>
        </li>
        <li class="profile-button">
            <i class="fa-solid fa-address-card"></i>
            <a class="profile-item-link" href='/auth/profile' (click)='logout()' routerLinkActive="active">
                Logout </a>
        </li>
    </ul>
</div>