.profile-buttons {
  display: flex;
  flex-direction: row;
  gap: 150px;
  justify-content: center;
}

.profile-no {
  display: inline-block;
}

.profile-button {

  padding: 15px;
  background-color: cadetblue;
  color: white;
  border-radius: 25px;
}

.profile-item-link {
  color: white;
  text-decoration: none;
  padding-left: 15px;
}

button .profile-item-link {}

.profile-data {
  display: flex;
  flex-direction: column;
  padding: 15px;
  margin-left: 26%;
  width: 520px;
}

.profile-field {
  display: block;
  font-size: 24px;
  width: 500px;
  background-color: rgba(200, 245, 245, 0.596);
  padding: 16px;
  margin: 2px;
  border-radius: 12px;
}

.profile-no {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin-left: 450px;
  margin-top: 50px;
}

.profile-buttons {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
}

.profile-heading {}
