<div class="services-wrapper">
    <div class="services" >
       
            <div class="service" *ngFor=" let service of services[0]">
                <div class="img-container">
                    <img div-image src={{service.imageUrl}}>
                </div>
                <div class="service-box">
                    <h3 class="service-title"> {{service.title}} </h3>
                    <span class="service-text">
                        <p>{{service.description}}</p>
                    </span>
                </div>
            </div>
      
    </div>
    <aside *ngIf="isLoggedAdmin">
        <h3>Admin panel for services</h3>

        <form #serviceForm="ngForm" (ngSubmit)="onSubmit()">
            <div class="input">
                <input class="form-control" id="title" name="title" ngModel />
                <label for="title" class="add-title">Service title</label>
            </div>
            <div class="input">
                <input class="form-control" id="imageUrl" name="imageUrl" ngModel />
                <label for="imageUrl" class="add-image">Image URL</label>
            </div>
            <div class="input">
                <textarea class="form-control" id="description" name="description" ngModel></textarea>
                <label for="description" class="add-text">Description</label>
            </div>
            <div class="action">
                <button class="action-button">Add services</button>
            </div>
        </form>



    </aside>
</div>