 /* SERVICES */

 .services {
   display: flex;
   flex-direction: column;

 }

 .service-box {
   display: flex;
   flex-direction: column;
   flex: 45%;
   max-width: 750px;
 }


 .service {

   display: flex;
   flex-direction: row;
   justify-content: center;
   /* max-width: 1500px; */
   /* margin-left: 100px; */
   height: 350px;
   width: 100%;

   border-radius: 20px;
   text-align: center;
   padding: 15px 35px;
   gap: 50px
 }

 .service:nth-child(odd) {
   flex-direction: row-reverse;

 }


 .service-title {
   padding-top: 35px;
   display: block;
   font-size: 32px;
 }

 .service .img-container {
   overflow: hidden;
   max-width: 420px;

   height: 280px;
   border-radius: 18px;
   box-shadow: 0px 0px 12px 1px #000000;
 }

 .service div img {
   display: block;


 }

 .service-text {
   padding-top: 45px;
 }

 aside {
  /* display: none; */
  width: 30%;
  padding-left: 15px;
  margin-left: 15px;
  float: right;
  font-style: italic;
  background-color: lightgray;

}
.services-wrapper {
  display: flex;

}
.input {

  margin: 20px 0px 10px;
  display: flex;
  flex-direction: column-reverse;
  width: 300px;

}
.input label {
  margin-bottom: 5px;
}

.h3{
  margin: 10px;
}