.device-img-container img {
  width: 260px;
  height: 220px;
  object-fit: scale-down;
}

.device-img-container {
  overflow: hidden;
  display: flex;
  width: 200px;
  height: 180px;

  overflow: hidden;
}

.device {

  max-width: 210px;
  display: flex;
  flex-direction: column;
  width: 210px;

  gap: 5px;
  border-radius: 15px;
}

.device div {
  margin: 3%;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  min-width: 950px;
  gap: 15px;
}

.device {
  flex: 35%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 0px 8px 0.5px rgba(0, 0, 0, 0.842);
  margin: 15px;

}

.device-buttons {
  display: flex;
  flex-direction: row;
}

.device-buy,
.device-details {
  display: block;
  width: 100px;
  padding: 6px;
  font-size: 16px;
  border-radius: 11px;
  color: white;
  background-color: cadetblue;
  border-color: rgb(120, 122, 122);
}

.device-buy:hover,
.device-details:hover {

  background-color: rgb(13, 60, 80);
  border-color: rgb(45, 121, 51);
}

aside {
  /* display: none; */
  width: 30%;
  padding-left: 15px;
  margin-left: 15px;
  float: right;
  font-style: italic;
  background-color: lightgray;
  /* position: sticky;
  right: 0; */
}

.devices-wrapper {
  display: flex;

}

.input {

  margin: 20px 0px 10px;
  display: flex;
  flex-direction: column-reverse;
  width: 300px;

}

.input label {
  margin-bottom: 5px;
}

aside h3 {
  display: block;
  margin-top: 10px;
  padding: 10px;
}
