<div class="devices-wrapper">
    <div class="cards">

        <div *ngFor="let device of devices[0]">

            <div class="device">
                <span class="device-img-container">
                    <img src={{device.imageUrl}}>
                </span>
                <div class="device-model"> {{device.model | uppercase}}</div>
                <div class="device-brand"> {{device.brand}} </div>
                <!-- <div class="device-class"> A+++ </div> -->
                <div class="device-price"> {{device.price}}.00 BGN </div>
                <!-- <div class="device-description"> Lorem ipsum dolor, sit amet consectetur adipisicing elit. A, rem. </div> -->
                <!-- <div *ngIf="!isLoggedAdmin" > -->
                <div *ngIf="isLoggedAdmin != true" class="device-buttons user">
                    <button class="device-buy">Buy</button>
                    <button class="device-details" [routerLink]="['details',device._id]">Details</button>
                </div>
                <div *ngIf="isLoggedAdmin" class="device-buttons admin">
                    <button class="device-delete" (click)="deleteDevice(device._id)">Delete</button>
                    <button class="device-edit" [routerLink]="['details',device._id]">Update</button>
                </div>
                <!-- </div> -->
                <!-- <jw-modal>https://jasonwatmore.com/post/2020/09/24/angular-10-custom-modal-window-dialog-box</jw-modal> -->
            </div>

        </div>


    </div>
    <aside *ngIf="isLoggedAdmin">
        <h3>Admin panel - add device</h3>
        <form #deviceForm="ngForm" (ngSubmit)="onSubmit()">
            <div class="input">
                <input class="form-control" id="model" name="model" ngModel />
                <label for="model" class="add-model">Model</label>
            </div>
            <div class="input">
                <input class="form-control" id="brand" name="brand" ngModel />
                <label for="brand" class="add-brand">Brand</label>
            </div>
            <div class="input">
                <input class="form-control" id="class" name="class" ngModel />
                <label for="class" class="add-class">Class</label>
            </div>

            <div class="input">
                <input class="form-control" id="price" name="price" ngModel />
                <label for="price" class="add-price">Price</label>
            </div>
            <div class="input">
                <input class="form-control" id="imageUrl" name="imageUrl" ngModel />
                <label for="imageUrl" class="add-image">Image URL</label>
            </div>
            <div class="input">
                <textarea class="form-control" id="description" name="description" ngModel></textarea>
                <label for="description" class="add-text">Description</label>
            </div>
            <div class="action">
                <button class="action-button">Add device</button>
            </div>
        </form>



    </aside>
</div>