<aside *ngIf=" !isUpdating">
    <h3>Admin panel - add device</h3>
    <form #deviceForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="input">
            <input class="form-control" id="model" name="model" ngModel />
            <label for="model" class="add-model">Model</label>
        </div>
        <div class="input">
            <input class="form-control" id="brand" name="brand" ngModel />
            <label for="brand" class="add-brand">Brand</label>
        </div>
        <div class="input">
            <input class="form-control" id="class" name="class" ngModel />
            <label for="class" class="add-class">Class</label>
        </div>

        <div class="input">
            <input class="form-control" id="price" name="price" ngModel />
            <label for="price" class="add-price">Price</label>
        </div>
        <div class="input">
            <input class="form-control" id="imageUrl" name="imageUrl" ngModel />
            <label for="imageUrl" class="add-image">Image URL</label>
        </div>
        <div class="input">
            <textarea class="form-control" id="description" name="description" ngModel></textarea>
            <label for="description" class="add-text">Description</label>
        </div>
        <div class="action">
            <button class="action-button">Add device</button>
        </div>
    </form>



</aside>
<aside *ngIf="isUpdating">
    <h3>Editing device </h3>
    <form #editForm="ngForm" (ngSubmit)="onUpdate()">
        <div class="input">
            <input class="form-control" id="model" name="model" ngModel />
            <label for="model" class="add-model">Model</label>
        </div>
        <div class="input">
            <input class="form-control" id="brand" name="brand" ngModel />
            <label for="brand" class="add-brand">Brand</label>
        </div>
        <div class="input">
            <input class="form-control" id="class" name="class" ngModel />
            <label for="class" class="add-class">Class</label>
        </div>

        <div class="input">
            <input class="form-control" id="price" name="price" ngModel />
            <label for="price" class="add-price">Price</label>
        </div>
        <div class="input">
            <input class="form-control" id="imageUrl" name="imageUrl" ngModel />
            <label for="imageUrl" class="add-image">Image URL</label>
        </div>
        <div class="input">
            <textarea class="form-control" id="description" name="description" ngModel></textarea>
            <label for="description" class="add-text">Description</label>
        </div>
        <div class="action">
            <button class="action-button">Update device</button>
            <button class="action-button" onclick="abortUpdate()">Cancel</button>
        </div>
    </form>



</aside>