<div class="device">
    DETAILS HERE
    <span class="device-img-container">
        <!-- <img src={{device.imageUrl}}> -->
    </span>
    <!-- <div class="device-model"> {{device.model}}</div> -->
    <!-- <div class="device-brand"> {{device.brand}} </div> -->
    <!-- <div class="device-class"> A+++ </div> -->
    <!-- <div class="device-price"> {{device.price}}.00 BGN </div> -->
    <!-- <div class="device-description"> Lorem ipsum dolor, sit amet consectetur adipisicing elit. A, rem. </div> -->

</div>