header {
  display: flex;
  justify-content: space-between;
  background-color: cadetblue;
}

.logo-wrapper {
  display: flex;
  padding: 12px;
  font-size: 16px;
}

.logo-text {
  display: block;
  margin-left: 15px;
  font-size: 12px;

}

.nav {
  list-style: none;
  margin: 8px;
  display: flex;
  justify-content: space-between;

}

.nav-item {
  margin: 5px;
  text-align: center;

}

.nav-item-link {
  text-decoration: none;
  color: white;
}
