<header>

    <div class="logo-wrapper">
        <h2 class="logo-name">CoolTech</h2>
        <div class="logo-text">
            <p>Keep cool in the summer...</p>
            <p>but not too frosty in the winter</p>
        </div>
    </div>

    <ul class="nav">
        <li class="nav-item">
 
            <i class="fa-solid fa-fan"></i>
            <a class="nav-item-link" href="">Browse tech</a>
        </li>
        <li class="nav-item">
            <i class="fa-solid fa-wrench"></i>
            <a class="nav-item-link" href="">Our Services</a>
        </li>
        <li class="nav-item">

            <i class="fa-solid fa-bars-progress"></i>
            <a class="nav-item-link" href="">Projects</a>
        </li>
        <li class="nav-item">

            <i class="fa-solid fa-circle-info"></i>
            <a class="nav-item-link" href="">Request Help </a>
        </li>
        <li class="nav-item">
            <i class="fa-regular fa-user"></i>
            <a class="nav-item-link" href="">
                Profile</a>
        </li>

    </ul>
</header>