<header>
    <div class="logo-wrapper">
        <h2 class="logo-name">CoolTech</h2>
        <div class="logo-text">
            <p>Keep cool in the summer...</p>
            <p>but not too frosty in the winter</p>
        </div>
    </div>

    <ul class="nav">
        <li class="nav-item">
            <a class="nav-item-link" href="">Cooling tech</a>
        </li>
        <li class="nav-item">
            <a class="nav-item-link" href="">Services</a>
        </li>
        <li class="nav-item">
            <a class="nav-item-link" href="">Our work</a>
        </li>
        <li class="nav-item">
            <a class="nav-item-link" href="">Help me!</a>
        </li>

    </ul>
</header>