<div class="projects-wrapper">
    <div class="projects">


        <article class="project-wrap" *ngFor=" let project of projects[0]">
            <div class='project-admin-buttons' *ngIf="isLoggedAdmin">

                <button class="action-button delete" (click)="deleteProject(project._id)">
                    <i class="fa-solid fa-x"></i>
                </button>
                <button class="action-button edit" (click)="editProject(project._id)">
                    <i class="fa-solid fa-pen"></i>
                </button>
            </div>
            <div class="project">
                <div class="project-img">
                    <img src="{{project.image1Url}}" alt="">
                </div>
                <div class="project-side-wrapper">
                    <h3 class="project-title">{{project.title}}</h3>
                    <p class="project-description">
                        {{project.description}}
                    </p>

                    <h3 class="gallery">
                        <div class="gallery-img">
                            <img src={{project.image2Url}} alt="">
                        </div>
                        <div class="gallery-img">
                            <img src={{project.image3Url}} alt="">
                        </div>
                        <div class="gallery-img">
                            <img src={{project.image4Url}} alt="">
                        </div>
                    </h3>
                </div>
            </div>

        </article>



    </div>
    <aside *ngIf="isLoggedAdmin && !isUpdating">

        <h3>Admin panel - Add project</h3>

        <form #projectForm="ngForm" (ngSubmit)="onSubmit()">
            <div class="input">
                <input class="form-control" id="title" name="title" ngModel />
                <label for="title" class="add-title">Project title</label>
            </div>
            <div class="input">
                <textarea class="form-control" id="description" name="description" ngModel></textarea>
                <label for="description" class="add-text">Description</label>
            </div>
            <div class="input">
                <input class="form-control" id="image1Url" name="image1Url" ngModel />
                <label for="image1Url" class="add-image">Image 1 URL</label>
            </div>
            <div class="input">
                <input class="form-control" id="image2Url" name="image2Url" ngModel />
                <label for="image2Url" class="add-image">Image 2 URL</label>
            </div>
            <div class="input">
                <input class="form-control" id="image3Url" name="image3Url" ngModel />
                <label for="image3Url" class="add-image">Image 3 URL</label>
            </div>
            <div class="input">
                <input class="form-control" id="image4Url" name="image4Url" ngModel />
                <label for="image4Url" class="add-image">Image 4 URL</label>
            </div>

            <div class="action">
                <button class="action-button">Add project</button>
            </div>
        </form>


    </aside>
    <aside *ngIf="isLoggedAdmin && isUpdating">

        <h3>Edit project</h3>

        <form #editForm="ngForm" (ngSubmit)="onUpdate()">
            <div class="input">
                <input class="form-control" id="title" name="title" ngModel />
                <label for="title" class="add-title">Project title</label>
            </div>
            <div class="input">
                <textarea class="form-control" id="description" name="description" ngModel></textarea>
                <label for="description" class="add-text">Description</label>
            </div>
            <div class="input">
                <input class="form-control" id="image1Url" name="image1Url" ngModel />
                <label for="image1Url" class="add-image">Image 1 URL</label>
            </div>
            <div class="input">
                <input class="form-control" id="image2Url" name="image2Url" ngModel />
                <label for="image2Url" class="add-image">Image 2 URL</label>
            </div>
            <div class="input">
                <input class="form-control" id="image3Url" name="image3Url" ngModel />
                <label for="image3Url" class="add-image">Image 3 URL</label>
            </div>
            <div class="input">
                <input class="form-control" id="image4Url" name="image4Url" ngModel />
                <label for="image4Url" class="add-image">Image 4 URL</label>
            </div>

            <div class="action">
                <button class="action-button">Update </button>
                <button class="action-button" onclick="abortUpdate()">Cancel</button>
            </div>
        </form>


    </aside>
</div>