.projects {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.project {
  flex: 55px;
  display: flex;
  flex-direction: row;
  text-align: center;
  border: 1px;
  background-color: azure;
  padding: 32px;
  position: relative;

}

.project-title {
  font-size: 25px;
  font-weight: 600px;
  margin-bottom: 25px;
}

.project-img {
  overflow: hidden;
  border-radius: 25px;
  width: 400px;
}

.project-img img {
  width: 400px;
  height: 250px;

}

.project-side-wrapper {
  max-width: 600px;
  padding-left: 15px;


}


aside {
  /* display: none; */
  width: 30%;
  padding-left: 15px;
  margin-left: 15px;
  float: right;
  font-style: italic;
  background-color: lightgray;

}

.projects-wrapper {
  display: flex;

}

.input {

  margin: 20px 0px 10px;
  display: flex;
  flex-direction: column-reverse;
  width: 300px;

}

.input label {
  margin-bottom: 5px;
}

aside h3 {
  display: block;
  margin-top: 10px;
  padding: 10px;
}

.gallery{
  margin-top: 45px;
}
