<div class="projects-wrapper">
    <div class="projects">

        <article class="project-card">
            <article class="project">
                <div class="project-img">
                    <img src="https://image.made-in-china.com/202f0j00fisGeuMrACbw/Al-2680A-Wall-Split-Air-Conditioner-Automatic-Production-Line.jpg"
                        alt="">
                </div>
                <div class="project-side-wrapper">
                    <h3 class="project-title">PROJECT 1</h3>
                    <p class="project-description">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia cum ipsum incidunt officiis
                        expedita
                        exercitationem numquam modi, aut assumenda magni et sapiente eaque illo! Dolorem nobis doloribus
                        rem?
                        Sunt, dolorem?
                        Debitis modi temporibus iure deleniti autem quae numquam hic perspiciatis neque cupiditate
                        nesciunt,
                        provident illum dolore sunt maiores facere nemo impedit reiciendis inventore vitae, libero
                        natus! Ex
                        maiores obcaecati quidem!
                    </p>

                    <h3 class="gallery">TODO:-------Gallery of other photos here--------</h3>
                </div>

            </article>
        </article>

    </div>
    <aside>
        <h3>Admin panel for projects</h3>
        <h3>Hide if not logged as admin</h3>


        <h3>Add project</h3>

        <form #projectForm="ngForm" (ngSubmit)="onSubmit()">
            <div class="input">
                <input class="form-control" id="title" name="title" ngModel />
                <label for="title" class="add-title">Project title</label>
            </div>
            <div class="input">
                <input class="form-control" id="imageURL" name="imageURL" ngModel />
                <label for="imageURL" class="add-image">Image URL</label>
            </div>
            <div class="input">
                <textarea class="form-control" id="description" name="description" ngModel></textarea>
                <label for="description" class="add-text">Description</label>
            </div>
            <div class="action">
                <button class="action-button">Add project</button>
            </div>
        </form>


    </aside>
</div>