<div class="projects">

    <div class="project-card">
        <article class="project">
            <h3 class="project-title">PROJECT 1</h3>
            <div class="project-img">
                <img src="https://image.made-in-china.com/202f0j00fisGeuMrACbw/Al-2680A-Wall-Split-Air-Conditioner-Automatic-Production-Line.jpg"
                    alt="">
            </div>
            <p class="project-description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia cum ipsum incidunt officiis expedita
                exercitationem numquam modi, aut assumenda magni et sapiente eaque illo! Dolorem nobis doloribus rem?
                Sunt, dolorem?
                Debitis modi temporibus iure deleniti autem quae numquam hic perspiciatis neque cupiditate nesciunt,
                provident illum dolore sunt maiores facere nemo impedit reiciendis inventore vitae, libero natus! Ex
                maiores obcaecati quidem!
            </p>
        </article>
    </div>
    <article class="project">
        <h3 class="project-title">PROJECT 2</h3>
        <div class="project-img">
            <img src="https://nwzimg.wezhan.hk/contents/sitefiles3604/18023921/images/3241579.jpg" alt="">
        </div>
        <p class="project-description">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus eos, officia molestiae praesentium velit
            unde optio nulla voluptates perspiciatis iure. Quibusdam incidunt quae obcaecati eaque ratione ipsa
            praesentium aliquid perferendis.
            Modi tempore reiciendis temporibus maxime harum, commodi reprehenderit consequatur odio. Cumque dolor dicta
            quod, qui iste commodi est eveniet suscipit recusandae necessitatibus eligendi perspiciatis, atque
            laboriosam exercitationem quas eos tenetur.
        </p>
    </article>
</div>