<div class="services">



    <div class="service">
        <mat-card class="service-box">
            <div class="img-container">
                <img mat-card-image
                    src="https://www.lucas-nuelle.us/images/axilon/NEUBILD/Versuche/R0/R0_RCC31-h310-ar.jpg">
            </div>
            <mat-card-title class="service-title"> Installation </mat-card-title>
            <mat-card-subtitle> We'll fix it on the wall fast, clean and easy</mat-card-subtitle>
            <mat-card class="text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel cumque iusto quia ex
                facilis quo officiis architecto nihil exercitationem ratione deleniti, nesciunt repudiandae recusandae
                reprehenderit obcaecati laborum labore ipsum mollitia.
                Debitis eum neque id distinctio repudiandae. Atque praesentium incidunt enim, mollitia exercitationem
                alias. Asperiores ex vel omnis aut placeat temporibus totam nihil eligendi, saepe sequi dolor
                blanditiis, quos, earum harum!</mat-card>
        </mat-card>
    </div>





</div>