 /* SERVICES */

 .services {
   display: flex;
   justify-content: column;

 }

 .service {
   background-color: aliceblue;
   display: flex;
   flex-direction: row;

   height: 350px;
   width: 900px;
   border-radius: 20px;
   text-align: center;
 }

 .service mat-card .img-container {
   overflow: hidden;
   display: flex;
   width: 340px;
   height: 280px;

 }

 .service mat-card div img {
   width: 360px;
 }

 