<div class="services">

    <div class="service">
        <mat-card>
            <div class="img-container">
                <img mat-card-image
                    src="https://www.lucas-nuelle.us/images/axilon/NEUBILD/Versuche/R0/R0_RCC31-h310-ar.jpg">
            </div>
            <mat-card-title> Installation </mat-card-title>
            <mat-card-subtitle> We'll fix it on the wall fast, clean and easy</mat-card-subtitle>

        </mat-card>
    </div>

    <div class="service">
        <mat-card>
            <div class="img-container">
                <img mat-card-image
                    src="https://www.lucas-nuelle.us/images/axilon/NEUBILD/Versuche/R0/R0_RCC31-h310-ar.jpg">
            </div>
            <mat-card-title> Installation </mat-card-title>
            <mat-card-subtitle> We'll fix it on the wall fast, clean and easy</mat-card-subtitle>

        </mat-card>
    </div>

    <div class="service">
        <mat-card>
            <div class="img-container">
                <img mat-card-image
                    src="https://www.lucas-nuelle.us/images/axilon/NEUBILD/Versuche/R0/R0_RCC31-h310-ar.jpg">
            </div>
            <mat-card-title> Installation </mat-card-title>
            <mat-card-subtitle> We'll fix it on the wall fast, clean and easy</mat-card-subtitle>

        </mat-card>
    </div>




</div>